@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap");
@font-face {
  font-family: 'Gotham Pro';
  src: url(../../fonts/gothampro_medium.ttf);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2px 120px;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo__img {
  width: 55px;
  height: auto;
}

.header-logo__content {
  font-family: 'Manrope', sans-serif;
  padding-left: 8px;
}

.header-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-navbar-wrapper {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 44px;
}

.header-navbar__element a {
  color: #333333;
  text-decoration: none;
  font-family: "Gotham Pro";
}

.header-login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 46px;
}

.header-login-social {
  display: flex;
  gap: 14px;
}

.header-login-language__ln {
  font-family: "Gotham Pro";
  color: #333333;
}

.header-login-button .header-login-button__login {
  padding: 9px 41px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.button-blue {
  border: 1px solid #1749B3;
  background: #1749B3;
  border-radius: 16px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 17px;
  padding: 16px 24px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.button-blue:hover {
  background-color: #FFFFFF;
  color: #171717;
}

.button-blue:active {
  background: #4B84FD;
}

.button-grey {
  border: 1px solid #171717;
  background: #171717;
  border-radius: 16px;
  color: #FFFFFF;
  font-family: "Gotham Pro";
  font-size: 17px;
  padding: 16px 24px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.button-grey:hover {
  background-color: #FFFFFF;
  color: #171717;
}

.button-blue:active {
  background: #606060;
}

.button-white {
  border: 1px solid #FFFFFF;
  background: #FFFFFF;
  border-radius: 16px;
  color: #000000;
  font-family: "Gotham Pro";
  font-size: 17px;
  padding: 16px 24px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.button-white:hover {
  background-color: #1749B3;
  color: #FFFFFF;
}

.button-white:active {
  background: #606060;
}

.fw {
  width: 100% !important;
}

.footer {
  background-color: #1749B3;
  padding: 40px 120px 12px 120px;
  font-family: 'Gotham Pro';
  color: #FFFFFF;
}

.footer-navigation {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-navigation-about {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-navigation-about .about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.footer-navigation-about .about__logo {
  width: 60px;
  height: auto;
}

.footer-navigation-about .content {
  width: 179px;
}

.footer-navigation-subs__typography {
  font-family: 'Gotham Pro';
  font-size: 18px;
  line-height: 150%;
}

.footer-navigation-subs .subs {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}

.footer-navigation-subs .subs-sub__link {
  text-decoration: none;
  color: #FFFFFF;
}

.footer-navigation-aside .social {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.footer-navigation-aside .language {
  text-align: right;
  margin-top: 20px;
}

.footer-documents {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  font-weight: 100;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 99;
  padding: 30px 0;
  background: rgba(23, 73, 179, 0.1);
  backdrop-filter: blur(15px);
}

.modal-wrapper .modal {
  width: 460px;
  padding: 40px;
  background: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(213, 216, 221, 0.2);
  border-radius: 32px;
  font-family: 'Gotham Pro';
}

.modal-wrapper .modal-header {
  display: flex;
  justify-content: space-between;
}

.modal-wrapper .modal-header-left__typography {
  font-weight: bold;
}

.modal-wrapper .modal-header-left-content {
  margin-top: 12px;
  font-size: 16px;
}

.modal-wrapper .modal-header-right__button {
  width: 40px;
  height: 40px;
  background: rgba(23, 23, 23, 0.1);
  border-radius: 100px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.modal-wrapper .modal-header p {
  font-size: 16px;
  line-height: 150%;
}

.modal-wrapper .modal-main {
  margin-top: 40px;
}

.modal-wrapper .modal-main .form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.modal-wrapper .modal-main .form-wrapper-input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 9px;
}

.modal-wrapper .modal-main .form-wrapper-input__input {
  padding: 16px 24px;
  background: #F1F4F8;
  border-radius: 12px;
  border: none;
  outline: none;
  font-size: 17px;
}

.modal-wrapper .modal-main .form-wrapper-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-wrapper .modal-main .form-wrapper-button__button {
  width: 190px;
}

.modal-wrapper .modal-main .form-wrapper-button__link {
  color: #000000;
  text-decoration: none;
}

.modal-wrapper .modal-main .form-wrapper-checkbox {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;
}

.modal-wrapper .modal-main .form-wrapper-checkbox__checkbox {
  background: #FFFFFF;
  border: 1px solid #CECBDF;
  border-radius: 4px;
}

.modal-wrapper .modal-main .form-wrapper-checkbox__text {
  font-size: 15px;
  line-height: 130%;
  letter-spacing: 0.01em;
}

.modal-wrapper .modal-main .form-forget .form .wrapper-forget-inputs {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.modal-wrapper .modal-main .form-forget .form .wrapper-forget-inputs .form-wrapper-input {
  width: 50%;
}

.modal-wrapper .modal-main-bottom {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.modal-wrapper .modal-main-bottom-hr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  color: #919191;
}

.modal-wrapper .modal-main-bottom-hr .hr {
  width: 155px;
  height: 2px;
  background-color: #DFDFDF;
}

.modal-wrapper .modal-main-bottom-socials {
  display: flex;
  justify-content: space-between;
  gap: 9px;
  margin-top: 24px;
}

.modal-wrapper .modal-main-bottom-socials-social {
  border: 1px solid #DFDFDF;
  border-radius: 12px;
  padding: 12px 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.modal-wrapper .modal-main-text {
  margin-top: 12px;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.modal-wrapper .modal-main-button {
  margin-bottom: 80px;
}

.modal-wrapper .modal-footer {
  margin-top: 48px;
}

.modal-wrapper .modal-footer__content {
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #9C99AD;
}

.modal-wrapper .modal-footer a {
  color: #1749B3;
  text-decoration: none;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .modal-wrapper {
    padding: 0;
    flex-flow: wrap;
    justify-content: inital;
    height: 100%;
  }
  .modal-wrapper .modal {
    width: calc(100% - 52px);
    height: inherit;
    padding: 32px 26px;
    border-radius: 0px;
  }
  .modal-wrapper .modal-main .form-login .form-wrapper-button {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .modal-wrapper .modal-main .form-login .form-wrapper-button__button {
    width: 100%;
  }
  .modal-wrapper .modal-main-bottom-hr__text {
    font-size: 14px;
  }
  .modal-wrapper .modal-main-bottom .hr {
    width: 95px;
  }
  .modal-wrapper .modal-main-bottom-socials {
    gap: 6px;
  }
  .modal-wrapper .modal-main-bottom-socials-social {
    width: calc(33% - 72px);
    padding: 13px 36px;
  }
  .modal-wrapper .create-account .second-step {
    height: 100%;
  }
  .modal-wrapper .create-account .second-step .modal-main {
    height: 60%;
  }
  .modal-wrapper .create-account .second-step .modal-main .form-login {
    height: 100%;
  }
  .modal-wrapper .create-account .second-step .modal-main .form-login .form {
    height: 100%;
    justify-content: space-between;
  }
  .modal-wrapper .create-account .third-step {
    height: 100%;
  }
  .modal-wrapper .create-account .third-step .modal-main {
    height: 90%;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .modal-wrapper .create-account .third-step .modal-main-button {
    margin-top: auto;
  }
  .modal-wrapper .forget .first-step-forget,
  .modal-wrapper .forget .second-step-forget {
    height: 100%;
  }
  .modal-wrapper .forget .first-step-forget .modal-main,
  .modal-wrapper .forget .second-step-forget .modal-main {
    height: 80%;
  }
  .modal-wrapper .forget .first-step-forget .modal-main .form-login,
  .modal-wrapper .forget .second-step-forget .modal-main .form-login {
    height: 100%;
  }
  .modal-wrapper .forget .first-step-forget .modal-main .form-login .form,
  .modal-wrapper .forget .second-step-forget .modal-main .form-login .form {
    height: 100%;
    justify-content: space-between;
  }
  .modal-wrapper .forget .third-step-forget {
    height: 100%;
  }
  .modal-wrapper .forget .third-step-forget .modal-main {
    height: 80%;
  }
  .modal-wrapper .forget .third-step-forget .modal-main .form-forget {
    height: 100%;
  }
  .modal-wrapper .forget .third-step-forget .modal-main .form-forget .form {
    height: 100%;
    justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .modal-wrapper .forget .third-step-forget .form-forget .form .wrapper-forget-inputs {
    flex-direction: column;
  }
  .modal-wrapper .forget .third-step-forget .form-forget .form .wrapper-forget-inputs .form-wrapper-input {
    width: 100%;
  }
}

body {
  overflow: hidden;
}

h1 {
  margin: 0;
  font-family: 'Gotham Pro';
  font-size: 26px;
  width: 100%;
}

main {
  background-color: #ECF3FB;
  padding: 0px 120px;
  padding-bottom: 120px;
}

main .preview {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  padding-top: 60px;
}

main .preview .discount {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  color: #FFFFFF;
  background: #1749B3;
  box-shadow: 0px 4px 24px rgba(213, 216, 221, 0.2);
  border-radius: 32px;
  padding: 114px 60px;
}

main .preview .discount__typography {
  margin: 0;
  font-family: 'Gotham Pro';
  font-size: 36px;
  width: 472px;
}

main .preview .discount__text {
  margin: 0;
  font-family: 'Gotham Pro';
  font-size: 16px;
  width: 472px;
}

main .preview .discount__button {
  width: 207px;
  height: 54px;
  font-family: 'Gotham Pro';
  font-size: 17px;
  background: #FFFFFF;
  border-radius: 16px;
  border: none;
  cursor: pointer;
}

main .preview .service-image {
  width: 50%;
  height: 555px;
  background-image: url("../img/women_service.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 12px 28px rgba(244, 245, 245, 0.2);
  border-radius: 32px;
  background-color: #FFFFFF;
}

main .subscriptions {
  margin-top: 120px;
}

main .subscriptions__typography {
  text-align: center;
  margin-bottom: 37px;
  font-weight: bold;
}

main .subscriptions .subs {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

main .subscriptions .subs-sub {
  height: 342px;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
}

main .subscriptions .subs-sub-about {
  display: flex;
  flex-direction: column;
  gap: 50px;
  color: #171717;
  box-shadow: 0px 4px 24px rgba(213, 216, 221, 0.2);
  padding: 40px 60px;
}

main .subscriptions .subs-sub-about__text {
  margin: 0;
  font-family: 'Gotham Pro';
  font-size: 16px;
  width: 440px;
}

main .subscriptions .subs-sub-about__button {
  width: 160px;
  height: 54px;
}

main .subscriptions .subs-sub-img {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  border-radius: 35px;
}

main .subscriptions .subs-sub .netflix {
  background-color: #000000;
}

main .subscriptions .subs-sub .youtube {
  background-color: #E1DCEB;
}

main .subscriptions .subs-sub .spotify {
  background-color: #1ED760;
}

main .subscriptions .subs-sub .spotify img {
  width: inherit;
  height: 100%;
}

main .how-it-works {
  margin-top: 128px;
}

main .how-it-works__typography {
  text-align: center;
  margin-bottom: 37px;
  font-weight: bold;
}

main .how-it-works .steps {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

main .how-it-works .steps-step {
  width: 33%;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0px 12px 28px rgba(244, 245, 245, 0.2);
  border-radius: 32px;
  padding-left: 30px;
  padding-bottom: 30px;
  height: 260px;
}

main .how-it-works .steps-step-top {
  display: flex;
  justify-content: space-between;
}

main .how-it-works .steps-step-top__typography {
  align-self: flex-end;
  display: inline;
}

main .how-it-works .steps-step-bottom__content {
  width: 50%;
  font-family: 'Gotham Pro';
  margin-top: 26px;
}

main .how-it-works .steps-step-img {
  display: flex;
  align-items: flex-start;
  padding: 6px;
}

main .about-us {
  margin-top: 128px;
}

main .about-us__typography {
  text-align: center;
  margin-bottom: 37px;
  font-weight: bold;
}

main .about-us-blocks {
  display: flex;
  gap: 16px;
}

main .about-us-blocks-block:nth-child(1) .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 60px;
}

main .about-us-blocks-block:nth-child(2) {
  background-image: url("../../img/women_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

main .about-us-blocks-block {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(213, 216, 221, 0.2);
  font-family: "Gotham Pro";
  border-radius: 32px;
  width: 50%;
  max-height: 595px;
}

main .about-us-blocks-block__logo {
  width: 130px;
}

main .about-us-blocks-block__content {
  width: 470px;
  line-height: 150%;
}

main .faq {
  margin-top: 128px;
}

main .faq__typography {
  text-align: center;
  margin-bottom: 37px;
  font-weight: bold;
}

main .faq-elements {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

main .faq-elements-element {
  background: #FFFFFF;
  box-shadow: 0px 12px 28px rgba(244, 245, 245, 0.2);
  border-radius: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 40px;
  font-family: "Gotham Pro";
}

main .faq-elements-element__open {
  width: 40px;
  height: 40px;
  border: none;
  background: rgba(23, 23, 23, 0.05);
  border-radius: 12px;
  cursor: pointer;
}

main .faq-support {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

main .faq-support__button {
  width: 243px;
  height: 54px;
}

main .request,
main .invite-friends {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  background: #1749B3;
  box-shadow: 0px 4px 24px rgba(213, 216, 221, 0.2);
  border-radius: 32px;
  padding: 40px 80px;
}

main .request-text,
main .invite-friends-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #FFFFFF;
}

main .request-text__content,
main .invite-friends-text__content {
  width: 508px;
  font-family: 'Gotham Pro';
  font-weight: 400;
  margin-top: 24px;
  line-height: 150%;
}

main .request-link,
main .invite-friends-link {
  display: flex;
  flex-direction: column;
  background: #F1F4F8;
  border-radius: 16px;
  padding: 28px 72px;
}

main .request-link__text,
main .invite-friends-link__text {
  font-family: 'Gotham Pro';
  font-size: 20px;
  line-height: 140%;
  text-align: center;
}

main .request-link__link,
main .invite-friends-link__link {
  font-family: 'Gotham Pro';
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #1749B3;
}

@media screen and (max-width: 1200px) {
  main {
    padding: 0px 32px;
  }
  main .preview .discount {
    padding: 20px;
    height: 100%;
  }
  main .preview .discount__text {
    width: 100%;
  }
  main .preview .discount__typography {
    width: 100%;
    font-size: 28px;
  }
  main .preview .service-image {
    height: inherit;
  }
  main .subscriptions .subs-sub {
    height: 200px;
  }
  main .subscriptions .subs-sub-about {
    width: 50%;
    padding: 50px 32px;
    gap: 24px;
  }
  main .subscriptions .subs-sub-about__text {
    display: none;
  }
  main .subscriptions .subs-sub-about__typography {
    width: 100%;
    font-size: 22px;
  }
  main .subscriptions .subs-sub-img {
    width: 50%;
  }
  main .subscriptions .subs-sub-img img {
    width: inherit;
  }
  main .how-it-works .steps-step {
    padding: 20px;
    height: 146px;
    justify-content: space-between;
  }
  main .how-it-works .steps-step-top__image {
    width: 81px;
    height: 81px;
  }
  main .how-it-works .steps-step-top__typography {
    align-self: center;
    font-size: 19px;
  }
  main .how-it-works .steps-step-bottom__content {
    width: 100%;
  }
  main .invite-friends {
    padding: 32px;
    gap: 32px;
    align-items: center;
  }
  main .invite-friends-text {
    width: 45%;
    justify-content: flex-start;
  }
  main .invite-friends-text__content {
    width: 100%;
  }
  main .invite-friends-link {
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 104px;
    padding: 0px;
  }
  main .about-us-blocks-block:nth-child(1) .wrapper {
    padding: 22px;
  }
  main .about-us-blocks-block__content {
    width: 100%;
    font-size: 17px;
  }
  main .about-us-blocks-block__logo {
    width: 60px;
    height: 60px;
  }
  main .faq-elements-element {
    padding: 20px;
  }
  main .faq-elements-element__text {
    width: 70%;
  }
  main .request {
    padding: 32px;
    gap: 32px;
    align-items: center;
  }
  main .request-text {
    width: 60%;
    justify-content: flex-start;
  }
  main .request-text__content {
    width: 100%;
  }
  main .request-text__typography {
    font-size: 19px;
  }
  main .request-button {
    width: 40%;
  }
  main .request-button__button {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  main {
    padding: 0px 24px;
  }
  main .preview {
    flex-direction: column-reverse;
    align-items: center;
  }
  main .preview .discount {
    height: 100%;
    width: inherit;
    gap: 30px;
  }
  main .preview .discount__button {
    width: 100%;
  }
  main .preview .service-image {
    height: 276px;
    width: 100%;
  }
  main .subscriptions .subs-sub {
    flex-direction: column-reverse;
    height: 100%;
  }
  main .subscriptions .subs-sub-about {
    width: calc(100% - 40px);
    padding: 32px 20px;
  }
  main .subscriptions .subs-sub-about__text {
    display: block;
    width: 100%;
  }
  main .subscriptions .subs-sub-about__typography {
    width: 100%;
    font-size: 22px;
  }
  main .subscriptions .subs-sub-about__button {
    width: 100%;
  }
  main .subscriptions .subs-sub .youtube {
    padding: 90px 0px;
  }
  main .subscriptions .subs-sub .youtube img {
    width: auto;
  }
  main .subscriptions .subs-sub .netflix img {
    width: 100%;
    height: auto;
    border-radius: 35px;
  }
  main .subscriptions .subs-sub-img {
    width: 100%;
  }
  main .subscriptions .subs-sub-img img {
    width: 100%;
    height: auto;
  }
  main .how-it-works .steps {
    flex-direction: column;
  }
  main .how-it-works .steps-step {
    width: inherit;
  }
  main .invite-friends {
    padding: 20px;
    flex-direction: column;
  }
  main .invite-friends-text {
    width: 100%;
  }
  main .invite-friends-text__content {
    width: 100%;
  }
  main .invite-friends-link {
    width: 100%;
  }
  main .invite-friends-link__link {
    font-size: 14px;
  }
  main .about-us-blocks {
    flex-direction: column-reverse;
  }
  main .about-us-blocks-block:nth-child(1) {
    width: inherit;
  }
  main .about-us-blocks-block:nth-child(1) .wrapper {
    padding: 22px;
  }
  main .about-us-blocks-block:nth-child(2) {
    width: inherit;
    height: 412px;
  }
  main .request {
    flex-direction: column;
  }
  main .request-text {
    width: 100%;
  }
  main .request-button {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */