.footer {
  background-color: $blue;
  padding: 40px 120px 12px 120px;
  font-family: 'Gotham Pro';
  color: $white;
  font-size: 16px;

  &-navigation {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    &-about {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .about {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;

        &__logo {
          width: 60px;
          height: auto;
        }
      }

      .content {
        width: 179px;
      }
    }

    .wrapper-subs {
      display: flex;
      justify-content: space-between;
      width: 50%;
    }

    &-subs {
      &__typography {
        font-family: 'Gotham Pro';
        font-size: 18px;
        line-height: 150%;
      }

      .subs {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-top: 20px;

        &-sub {
          &__link {
            text-decoration: none;
            color: $white;
          }
        }
      }
    }

    &-aside {
      .social {
        display: flex;
        justify-content: space-between;
        gap: 20px
      }

      .language {
        text-align: right;
        margin-top: 20px;
        position: relative;
        cursor: pointer;
      }
    }
  }

  &-documents {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    font-weight: 100;
  }
}

@media screen and (max-width: 1200px) {
  .footer {
    padding: 0px;

    &-navigation {
      padding: 32px 40px;
    }

    &-navigation-about {

      .about {
        &__name {
          display: none;
        }

        &__logo {
          width: 44px;
          height: 44px;
        }
      }
    }

    &-documents {
      padding: 12px 32px;
      border-top: 1px solid rgba(247, 247, 247, 0.5);

    }
  }
}

@media screen and (max-width: 600px) {
  .footer {
    &-navigation {
      flex-direction: column;
      gap: 40px;

      &-about,
      &-subs,
      &-aside {
        width: 100%;
      }

      &-about {
        .content {
          width: 100%;
        }

        .about {
          justify-content: flex-start;

          &__name {
            display: block;
          }
        }
      }

      .wrapper-subs {
        width: 100%;
      }

      &-aside {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .social {
          justify-content: flex-start;
        }
      }
    }

    &-documents {
      flex-direction: column;
      gap: 12px;

      &__text {
        text-align: center;
      }
    }
  }
}