.header {
  display: flex;
  justify-content: space-between;
  padding: 2px 120px;

  &-logo {
    display: flex;
    justify-content: center;
    align-items: center;

    &__img {
      width: 55px;
      height: auto;
    }

    &__content {
      font-family: 'Manrope', sans-serif;
      padding-left: 8px;
    }
  }

  &-navbar {
    display: flex;
    justify-content: center;
    align-items: center;

    &-wrapper {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      gap: 44px;
    }

    &__element {
      display: flex;
      align-items: center;
      position: relative;

      a {
        color: $black2;
        text-decoration: none;
        font-family: "Gotham Pro";
      }
    }
  }

  &-login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 46px;

    &-social {
      display: flex;
      gap: 14px
    }

    &-language {
      position: relative;
      cursor: pointer;

      &__ln {
        font-family: "Gotham Pro";
        color: $black2;
      }
    }

    &-button {
      .header-login-button__login {
        padding: 9px 41px;
      }
    }
  }

  &-mobile-icon {
    display: none;

    &__button {
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }

  &-mobile-menu {
    display: none;
  }
}

.navbar-close {
  display: none;
}

.navbar-show {
  position: absolute;
  top: 100%;
  background: #FFFFFF;
  box-shadow: 0px 20px 48px rgba(177, 177, 177, 0.4);
  border-radius: 16px;
  padding: 24px;
  margin-top: 10px;
  font-size: 16px;
  font-family: 'Gotham Pro';

  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__element {
      text-align: left;

      a {
        text-decoration: none;
        color: $black1;
      }

      a:hover {
        color: $blue;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .header {
    padding: 2px 32px;

    &-navbar {
      &-wrapper {
        gap: 10px;
      }
    }

    &-login {
      gap: 10px;
    }
  }
}

@media screen and (max-width: 866px) {
  .header {
    padding: 0px;
    position: relative;

    &-logo {
      padding: 11px 24px;

      &__img {
        width: 32px;
        height: 32px;
      }
    }

    &-navbar {
      padding: 11px 24px;
      display: none;
    }

    &-login {
      padding: 11px 24px;
      display: none;
    }

    &-mobile-icon {
      padding: 11px 24px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-mobile-menu {
      display: block;
      position: absolute;
      z-index: 9999;
      background-color: $background;
      width: 100%;
      top: 90%;
      font-family: 'Gotham Pro';
      height: 0px;
      overflow: hidden;
      transition: height 0.2s ease-out;

      .wrapper-mobile-menu {
        padding: 24px;
      }

      &-nav {
        background: #FFFFFF;
        box-shadow: 0px 12px 28px rgba(177, 177, 177, 0.2);
        border-radius: 12px;
        padding: 16px;
      }

      &-navbar {
        &-element {
          margin-top: 12px;
          display: flex;
          gap: 12px;
          align-items: center;
          padding: 12px 20px;
          border-radius: 8px;
          cursor: pointer;

          &:hover {
            background: #F7F7F7;

            .header-mobile-menu-navbar__img {
              filL: #4E33FF;
            }
          }
        }
      }

      &-nav:nth-child(2) {
        margin-top: 16px;
      }

      &-auth {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: 68px;

        &__login {
          background-color: transparent !important;
          color: $blue !important;
        }
      }

      &-bottom {
        display: flex;
        justify-content: space-between;
        margin-top: 36px;
      }

      &-social {
        font-size: 18px;

        gap: 18px;

        &__element {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .header {
    position: relative;

    &-logo {
      &__content {
        display: none;
      }
    }
  }
}