@import "fonts.scss";
@import "colors.scss";
@import "header.scss";
@import "reset.scss";
@import "button.scss";
@import "footer.scss";

h1 {
  margin: 0;
  font-family: 'Gotham Pro';
  font-size: 36px;
  width: 100%;
}

main {
  background-color: $background;
  padding: 0px 120px;
  font-family: 'Gotham Pro';
  padding-bottom: 120px;

  .invite-friends {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    background: $blue;
    box-shadow: 0px 4px 24px rgba(213, 216, 221, 0.2);
    border-radius: 32px;
    padding: 40px 80px;

    &-text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: $white;

      &__content {
        width: 508px;
        font-family: 'Gotham Pro';
        font-weight: 400;
        margin-top: 24px;
        line-height: 150%;
      }
    }

    &-link {
      display: flex;
      flex-direction: column;
      background: #F1F4F8;
      border-radius: 16px;
      padding: 28px 72px;

      &__text {
        font-family: 'Gotham Pro';
        font-size: 20px;
        line-height: 140%;
        text-align: center;
      }

      &__link {
        font-family: 'Gotham Pro';
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;

        text-decoration-line: underline;
        text-transform: uppercase;

        color: $blue;
      }
    }
  }

  .wrapper-plans {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 50px;

    &-text {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;

      &__typography {
        text-align: center;
      }
    }

    &-swap {
      display: flex;
      justify-content: center;

      &-element:nth-child(1) {
        background: $blue;
        border-radius: 12px 0px 0px 12px;
        padding: 17px 45px;
        cursor: pointer;
        color: $white;
      }

      &-element:nth-child(2) {
        background: transparent;
        border-width: 1px 1px 1px 0px;
        border-style: solid;
        border-color: $blue;
        border-radius: 0px 12px 12px 0px;
        padding: 17px 45px;
        cursor: pointer;
      }
    }

    .plans {
      display: flex;
      justify-content: space-between;


      .plan {
        display: flex;
        flex-direction: column;
        width: 32.5%;
        background-color: $white;
        box-shadow: 0px 12px 28px rgba(244, 245, 245, 0.2);
        border-radius: 32px;

        &-header {
          display: flex;
          justify-content: center;
          padding: 60px 0px 32px 0px;
          border-bottom: 1px solid #DBDBDB;

          &__typography {
            text-align: center;
            font-size: 32px;
            font-weight: bold;
          }
        }

        &-main {
          padding: 32px 40px 60px 40px;

          &-list {
            display: flex;
            flex-direction: column;
            gap: 20px;

            &-item {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              gap: 12px;
              font-size: 16px;
            }
          }
        }

        &-footer {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 0px 40px 40px 40px;

          &-price {
            display: flex;
            justify-content: center;
            margin-bottom: 16px;

            &__typography {
              display: contents;
              font-weight: bold;
              font-size: 50px;
            }

            &__valute {
              font-weight: bold;
              font-size: 26px;
              margin-top: 10px;
              margin-right: 4px;
            }
          }

          &-buy {
            &__button {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .faq {
    margin-top: 128px;

    &__typography {
      text-align: center;
      margin-bottom: 37px;
      font-weight: bold;
    }

    &-elements {
      display: flex;
      flex-direction: column;
      gap: 16px;

      &-element {
        background: $white;
        box-shadow: 0px 12px 28px rgba(244, 245, 245, 0.2);
        border-radius: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 32px 40px;
        font-family: "Gotham Pro";

        &__open {
          width: 40px;
          height: 40px;
          border: none;
          background: rgba(23, 23, 23, 0.05);
          border-radius: 12px;
          cursor: pointer;
        }
      }
    }

    &-support {
      display: flex;
      justify-content: center;
      margin-top: 40px;

      &__button {
        width: 243px;
        height: 54px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  main {
    padding: 0px 32px;
    padding-bottom: 100px;

    .invite-friends {
      padding: 32px;
      gap: 32px;
      align-items: center;

      &-text {
        width: 45%;
        justify-content: flex-start;

        &__content {
          width: 100%;
        }
      }

      &-link {
        justify-content: center;
        align-items: center;
        width: 55%;
        height: 104px;
        padding: 0px;
      }
    }


    .faq {
      &-elements {
        &-element {
          padding: 20px;

          &__text {
            width: 70%;
          }
        }
      }
    }

    .wrapper-plans {
      .plans {
        .plan-footer {
          padding: 32px 16px;
        }

        .plan-main {
          padding: 20px 16px;
          font-size: 15px;
        }

        .plan-header {
          &__typography {
            font-size: 26px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  main {
    padding: 0px 24px;

    .wrapper-plans {
      .plans {
        flex-direction: column;
        gap: 16px;

        .plan {
          width: 100%;
        }

        .plan-footer {
          padding: 32px 16px;
        }

        .plan-main {
          padding: 20px 16px;
          font-size: 15px;
        }

        .plan-header {
          &__typography {
            font-size: 26px;
          }
        }
      }
    }

    .wrapper-plans {
      &-text {
        &__typography {
          font-size: 28px;
        }
      }

      &-swap {
        &-element {
          &__text {
            font-size: 14px;
          }
        }
      }
    }

    .invite-friends {
      padding: 20px;
      flex-direction: column;

      &-text {
        width: 100%;

        &__content {
          width: 100%;
        }
      }

      &-link {
        width: 100%;

        &__link {
          font-size: 14px;
        }
      }
    }
  }
}